@import "./variables";

.btn {
  padding: 10px 16px;
  border-radius: $radius;
  border: none;
  font-weight: 600;
  transition: $transition;
}

.btn-primary {
  @extend .btn;
  background: $primary;
  color: $white;
  // width: 100%;

  &:hover {
    opacity: 0.9;
  }
}

.btn-outline {
  @extend .btn;
  background: transparent;
  border: 1px solid $gray-200;
  color: $gray-600;

  &:hover {
    background: $gray-100;
  }
}

.btn-approve {
  @extend .btn;
  background: $green;
  color: $white;
  // width: 100%;
  &:hover {
    opacity: 0.9;
  }
}

.btn-reject {
  @extend .btn;
  background: #ef4444;
  color: $white;
  // width: 100%;
  &:hover {
    opacity: 0.9;
  }
}

.btn-edit {
  @extend .btn;
  background: $blue;
  color: $white;
  // width: 40%;
  &:hover {
    opacity: 0.9;
  }
}

.btn-delete {
  @extend .btn;
  background: $gray-800;
  color: $white;
  // width: 40%;
  &:hover {
    opacity: 0.9;
  }
}
