@import "./variables";

form {
  background: $white;
  padding: 20px;
  border-radius: $radius;
  box-shadow: $shadow;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 10px 12px;
  border-radius: $radius;
  border: 1px solid $gray-200;
  margin-bottom: 12px;
}

input:focus, select:focus {
  outline: none;
  border-color: $primary;
}
