@import "../styles/variables";

.container {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #fd6113;
}

.filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;

  button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background: #eee;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: #fd6113;
      color: #fff;
    }
  }

  .active {
    background: #fd6113;
    color: #fff;
    font-weight: bold;
  }
}

.filtrosAvanzados {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
}

.lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-4px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    // background-color: red;

    .numero {
      width: 80%;
      font-weight: bold;
      color: #333;
    }

    .estado {
      width: 20%;

      padding: 4px 8px;
      border-radius: 6px;
      font-size: 5px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .PENDIENTE {
      background: #facc15;
      color: #000;
    }

    .FACTURADA {
      background: #10b981;
      color: #fff;
    }

    .RECHAZADA {
      background: #ef4444;
      color: #fff;
    }

    .APROBADA {
      background: #3b82f6;
      color: #fff;
    }
  }

  .cliente {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .total {
    font-size: 16px;
    color: #10b981;
    margin-bottom: 5px;
  }

  .fecha {
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
  }

  .vendedor {
    font-size: 13px;
    color: #777;
    margin-bottom: 10px;
  }

  .btnPreview {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background: btn-outline;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: #e85c0d;
    }
  }
}
